# Copyright 2006-2021 VMware, Inc.
# SPDX-License-Identifier: MIT
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: metallb
  namespace: {{ tanzu_ingress.namespace }}
  labels:
    app.kubernetes.io/name: metallb
data:
  config: |
    address-pools:
    - addresses:
      - {{ tanzu_load_balancer_start_ip }}-{{ tanzu_load_balancer_end_ip }}
      name: default
      protocol: layer2
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: metallb-controller
  namespace: {{ tanzu_ingress.namespace }}
  labels:
    app.kubernetes.io/name: metallb
    component: controller
spec:
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app.kubernetes.io/name: metallb
      component: controller
  template:
    metadata:
      labels:
        app.kubernetes.io/name: metallb
        component: controller
    spec:
      serviceAccountName: metallb-controller
      terminationGracePeriodSeconds: 0
      securityContext:
        runAsNonRoot: true
        runAsUser: 65534 # nobody
      nodeSelector:
        "beta.kubernetes.io/os": linux
      containers:
      - name: controller
        image: {{ tanzu_ingress.metallb.controller.image }}:{{ tanzu_ingress.metallb.controller.image_tag }}
        imagePullPolicy: IfNotPresent
        resources: {{ tanzu_ingress.metallb.resources | default(tanzu_ingress.default_resources) }}
        args:
        - --port=7472
        - --config=metallb
        ports:
        - name: monitoring
          containerPort: 7472
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - all
          readOnlyRootFilesystem: true
---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: metallb-speaker
  namespace: {{ tanzu_ingress.namespace }}
  labels:
    app.kubernetes.io/name: metallb
    component: speaker
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: metallb
      component: speaker
  template:
    metadata:
      labels:
        app.kubernetes.io/name: metallb
        component: speaker
    spec:
      tolerations:
      - key: node-role.kubernetes.io/master
        effect: NoSchedule
      serviceAccountName: metallb-speaker
      terminationGracePeriodSeconds: 0
      hostNetwork: true
      containers:
      - name: speaker
        image: {{ tanzu_ingress.metallb.speaker.image }}:{{ tanzu_ingress.metallb.speaker.image_tag }}
        imagePullPolicy: IfNotPresent
        args:
        - --port=7472
        - --config=metallb
        env:
        - name: METALLB_NODE_NAME
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName
        - name: METALLB_HOST
          valueFrom:
            fieldRef:
              fieldPath: status.hostIP
        ports:
        - name: monitoring
          containerPort: 7472
        resources: {{ tanzu_ingress.metallb.resources | default(tanzu_ingress.default_resources) }}
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop:
            - ALL
            add:
            - NET_ADMIN
            - NET_RAW
            - SYS_ADMIN
      nodeSelector:
        "beta.kubernetes.io/os": linux
