# Copyright 2006-2021 VMware, Inc.
# SPDX-License-Identifier: MIT
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ tanzu_ingress.external_dns.resource_name }}
  namespace: {{ tanzu_ingress.namespace }}
  labels:
    app.kubernetes.io/name: {{ tanzu_ingress.external_dns.resource_name }}
type: Opaque
data:
  aws_access_key: "{{ aws_access_key | b64encode }}"
  aws_secret_key: "{{ aws_secret_key | b64encode }}"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ tanzu_ingress.external_dns.resource_name }}
  namespace: {{ tanzu_ingress.namespace }}
  labels:
    app.kubernetes.io/name: {{ tanzu_ingress.external_dns.resource_name }}
spec:
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ tanzu_ingress.external_dns.resource_name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ tanzu_ingress.external_dns.resource_name }}
    spec:
      securityContext:
        allowPrivilegeEscalation: false
        readOnlyRootFilesystem: true
        capabilities:
          drop: ["ALL"]
        fsGroup: 1001
        runAsUser: 1001
        runAsNonRoot: true
      serviceAccountName: {{ tanzu_ingress.external_dns.resource_name }}
      containers:
      - name: {{ tanzu_ingress.external_dns.resource_name }}
        image: {{ tanzu_ingress.external_dns.image }}:{{ tanzu_ingress.external_dns.image_tag }}
        env:
          - name: AWS_ACCESS_KEY_ID
            valueFrom:
              secretKeyRef:
                name: {{ tanzu_ingress.external_dns.resource_name }}
                key: aws_access_key
          - name: AWS_SECRET_ACCESS_KEY
            valueFrom:
              secretKeyRef:
                name: {{ tanzu_ingress.external_dns.resource_name }}
                key: aws_secret_key
        args:
          - --source=service
          - --source=ingress
          - --domain-filter={{ tanzu_ingress_domain }}
          - --provider=aws
          - --policy={{ tanzu_ingress.external_dns.delete_records | bool | ternary("sync", "upsert-only") }}
          - --aws-zone-type=public
          - --registry=txt
          - --interval={{ tanzu_ingress.external_dns.sync_interval_seconds }}s
          - --txt-owner-id=tanzu-dns-{{ tanzu_cluster_name }}
          # NOTE: use CNAME so records are portable between dns provider types (default ALIAS which
          #       is an AWS Route53 specific type).  CNAME records also need a txt-prefix to avoid
          #       conflicts.
          - --aws-prefer-cname
          - --txt-prefix=ivy-tracker-record-
        resources: {{ tanzu_ingress.external_dns.resources | default(tanzu_ingress.default_resources) }}
