# Copyright 2006-2021 VMware, Inc.
# SPDX-License-Identifier: MIT
---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: envoy
  namespace: "{{ tanzu_ingress.namespace }}"
spec:
  template:
    spec:
      containers:
      - name: envoy
        ports:
        - containerPort: 8080
          hostPort: 80
          name: http
          protocol: TCP
        - containerPort: 8443
          hostPort: 443
          name: https
          protocol: TCP
