# Copyright 2006-2021 VMware, Inc.
# SPDX-License-Identifier: MIT
apiVersion: apps/v1
kind: Deployment
metadata:
  name: secret-syncer-controller
  namespace:  {{ tanzu_build_service.namespace }}
  labels:
    app: secret-syncer
    rpk.heritage: "true"
    rpk.module : "{{ tanzu_build_service.module }}"
    app.kubernetes.io/name: secret-syncer
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: secret-syncer
  template:
    metadata:
      labels:
        app.kubernetes.io/name: secret-syncer
    spec:
      serviceAccountName: secret-syncer-service-account
      nodeSelector:
        kubernetes.io/os: linux
      imagePullSecrets:
      - name: canonical-registry-secret
      containers:
      - name: server
        image: {{ tanzu_container_registry.core.dns + '/' + tanzu_build_service.registry.project.project_name + '/secret-syncer:' + tanzu_build_service.registry.destination_tag }}
        imagePullPolicy: Always
        env:
        - name: SECRET_SYNCER_NAMESPACE
          value: {{ tanzu_build_service.namespace }}
        - name: SYSTEM_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
