# Copyright 2006-2021 VMware, Inc.
# SPDX-License-Identifier: MIT

apiVersion: kpack.io/v1alpha1
kind: ClusterStack
metadata:
  name: {{ tanzu_build_service.demo.stack.name }}
spec:
  id: "io.buildpacks.stacks.bionic"
  buildImage:
    image: {{ tanzu_container_registry.core.dns + '/'+ tanzu_build_service.registry.project.project_name + '/build-full:' + tanzu_build_service.registry.destination_tag }}
  runImage:
    image: {{ tanzu_container_registry.core.dns + '/'+ tanzu_build_service.registry.project.project_name + '/run-full:' + tanzu_build_service.registry.destination_tag }}
