# Copyright 2006-2021 VMware, Inc.
# SPDX-License-Identifier: MIT

{# {% set encoded_auth =  (tanzu_container_registry.admin_username + ':' + tanzu_container_registry.admin_password) | b64encode  %} #}
{# {% set encoded_config =  ('{"auths":{"'+tanzu_container_registry.core.dns+'":{"auth":"'+ encoded_auth +'","password":"'+ tanzu_container_registry.admin_password +'","username":"'+ tanzu_container_registry.admin_username +'"}}}') | b64encode %} #}
{# {% set namespace = tanzu_build_service.namespace_kpack  %} #}
---
apiVersion: v1
kind: Secret
metadata:
  name:  canonical-registry-secret
  namespace:  {{ tanzu_build_service.namespace_kpack }}
  labels:
    rpk.heritage: "true"
    rpk.module : "{{ tanzu_build_service.module }}"
    rpk.resource: "build-service-secret"
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: {{('{"auths":{"'+tanzu_container_registry.core.dns+'":{"auth":"'+( tanzu_container_registry.admin_username + ':' +  tanzu_container_registry.admin_password  ) | b64encode +'"}}}') | b64encode}}


---
apiVersion: v1
kind: Secret
metadata:
  name: webhook-certs
  namespace:  {{ tanzu_build_service.namespace_kpack }}
  labels:
    rpk.heritage: "true"
    rpk.module : "{{ tanzu_build_service.module }}"
    rpk.resource: "build-service-secret"