# Copyright 2006-2021 VMware, Inc.
# SPDX-License-Identifier: MIT

---
apiVersion: v1
kind: Secret
metadata:
  name:  canonical-registry-secret
  namespace:  {{ tanzu_build_service.namespace_stack_operator_system }}
  labels:
    rpk.heritage: "true"
    rpk.module : "{{ tanzu_build_service.module }}"
    rpk.resource: "build-service-secret"
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: {{('{"auths":{"'+tanzu_container_registry.core.dns+'":{"auth":"'+( tanzu_container_registry.admin_username + ':' +  tanzu_container_registry.admin_password  ) | b64encode +'"}}}') | b64encode}}
