# Copyright 2006-2021 VMware, Inc.
# SPDX-License-Identifier: MIT
---
apiVersion: v1
kind: Secret
metadata:
  name: mongodb
  namespace: {{ tanzu_app_stack.mongodb.namespace }}
  labels:
    app.kubernetes.io/name: "{{ tanzu_app_stack.mongodb.resource_name }}"
type: Opaque
data:
  database-user: bW9uZ28tYWRtaW4=
  database-password: bW9uZ28tYWRtaW4tcGFzc3dvcmQ=
