# Copyright 2006-2021 VMware, Inc.
# SPDX-License-Identifier: MIT
---
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: "{{ tanzu_app_stack.monitoring.resource_name }}"
  namespace: "{{ tanzu_app_stack.monitoring.namespace }}"
  annotations:
    external-dns.alpha.kubernetes.io/target: "{{ tanzu_ingress.dns }}"
spec:
  rules:
    - http:
        paths:
          - path: /
            backend:
              serviceName: {{ tanzu_app_stack.monitoring.resource_name }}
              servicePort: 9090
