# Copyright 2006-2021 VMware, Inc.
# SPDX-License-Identifier: MIT
---
apiVersion: crd.projectcalico.org/v1
kind: IPPool
metadata:
  name: default-ipv4-ippool
spec:
  ipipMode: {{ calico_ipip_mode }}
  Vxlan Mode: {{ calico_vxlan_mode }}
