# Copyright 2006-2021 VMware, Inc.
# SPDX-License-Identifier: MIT
# see https://github.com/vmware-tanzu-labs/namespace-operator
---
apiVersion: tenancy.platform.cnr.vmware.com/v1alpha1
kind: TanzuNamespace
metadata:
  name: {{ tanzu_networking.namespace }}
spec:
  tanzuNamespaceName: "{{ tanzu_networking.namespace }}"
  tanzuLimitRangeDefaultCpuLimit: "50m"
  tanzuLimitRangeDefaultMemoryLimit: "64Mi"
  tanzuLimitRangeDefaultCpuRequest: "50m"
  tanzuLimitRangeDefaultMemoryRequest: "64Mi"
  tanzuLimitRangeMaxCpuLimit: "1000m"
  tanzuLimitRangeMaxMemoryLimit: "1024Mi"
  tanzuResourceQuotaCpuRequests: "2"
  tanzuResourceQuotaMemoryRequests: "4Gi"
  tanzuResourceQuotaCpuLimits: "2"
  tanzuResourceQuotaMemoryLimits: "4Gi"
