# Copyright 2006-2021 VMware, Inc.
# SPDX-License-Identifier: MIT
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: scg-operator
  namespace: {{ tanzu_spring_cloud_gateway.namespace }}
  labels:
    app.kubernetes.io/name: spring-cloud-gateway
    app.kubernetes.io/instance: spring-cloud-gateway
    app.kubernetes.io/version: "v1.0.0"
    app.kubernetes.io/part-of: spring-cloud-gateway
spec:
  replicas: 1
  selector:
    matchLabels:
      app: scg-operator
  template:
    metadata:
      labels:
        app: 'scg-operator'
    spec:
      serviceAccountName: spring-cloud-gateway
      imagePullSecrets:
        - name: spring-cloud-gateway-image-pull-secret
      containers:
        - name: scg-operator
          image: {{ tanzu_container_registry.core.dns +'/'+ tanzu_spring_cloud_gateway.registry.project.project_name + '/scg-operator:' + tanzu_spring_cloud_gateway.registry.destination_tag }} ##dev.registry.pivotal.io/spring-cloud-gateway/scg-reconciler
          imagePullPolicy: IfNotPresent
          env:
            - name: OPERATOR_GATEWAY_IMAGE_NAME
              value: {{ tanzu_container_registry.core.dns +'/'+ tanzu_spring_cloud_gateway.registry.project.project_name + '/gateway:' + tanzu_spring_cloud_gateway.registry.destination_tag }} ##dev.registry.pivotal.io/spring-cloud-gateway/gateway
            - name: OPERATOR_INSTALL_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: OPERATOR_IMAGE_PULL_SECRET_NAME
              value: spring-cloud-gateway-image-pull-secret
          resources:
            requests:
              memory: "256Mi"
              cpu: "500m"
            limits:
              memory: "512Mi"
              cpu: "1"
