# Copyright 2006-2021 VMware, Inc.
# SPDX-License-Identifier: MIT
---
apiVersion: v1
kind: Secret
metadata:
  name:  harborsecrets
  namespace:  {{ tanzu_spring_cloud_gateway.namespace }}
  labels:
    rpk.heritage: "true"
    rpk.module : "{{ tanzu_spring_cloud_gateway.module }}"
    rpk.resource: "spring-cloud-gateway-secret"
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: {{('{"auths":{"'+tanzu_container_registry.core.dns+'":{"auth":"'+( tanzu_container_registry.admin_username + ':' +  tanzu_container_registry.admin_password  ) | b64encode +'"}}}') | b64encode}}
