# Copyright 2006-2021 VMware, Inc.
# SPDX-License-Identifier: MIT
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: scg-reconciler
  namespace: {{ tanzu_spring_cloud_gateway.namespace }}
  labels:
    app.kubernetes.io/name: 'scg-reconciler'
    rpk.heritage: "true"
    rpk.module : "{{ tanzu_spring_cloud_gateway.module }}"
    rpk.resource: "job-registry-auth-config"
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: scg-reconciler
  template:
    metadata:
      labels:
        app.kubernetes.io/name: 'scg-reconciler'
    spec:
      serviceAccountName: default
      imagePullSecrets:
        - name: harborsecrets
      containers:
        - name: scg-reconciler
          image: {{ tanzu_container_registry.core.dns +'/'+ tanzu_spring_cloud_gateway.registry.project.project_name + '/scg-reconciler:' + tanzu_spring_cloud_gateway.registry.destination_tag }} ##dev.registry.pivotal.io/spring-cloud-gateway/scg-reconciler
          env:
            - name: gateway.image.name
              value: {{ tanzu_container_registry.core.dns +'/'+ tanzu_spring_cloud_gateway.registry.project.project_name + '/gateway:' + tanzu_spring_cloud_gateway.registry.destination_tag }} ##dev.registry.pivotal.io/spring-cloud-gateway/gateway
            - name: reconciler.namespace
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
          resources:
            requests:
              memory: "256Mi"
              cpu: "100m"
            limits:
              memory: "512Mi"
              cpu: "500m"
