# Copyright 2006-2021 VMware, Inc.
# SPDX-License-Identifier: MIT
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: spring-cloud-gateway-cluster-role
  labels:
    rpk.heritage: "true"
    rpk.module : "{{ tanzu_spring_cloud_gateway.module }}"
    rpk.resource: "spring-cloud-gateway-cluster-role"
rules:
  - apiGroups:
      - tanzu.vmware.com
    resources:
      - springcloudgateways
      - springcloudgatewaybindings
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
  - apiGroups:
      - ""
    resources:
      - services
    verbs:
      - get

---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: spring-cloud-gateway-role
  namespace: {{ tanzu_spring_cloud_gateway.namespace }}
  labels:
    rpk.heritage: "true"
    rpk.module : "{{ tanzu_spring_cloud_gateway.module }}"
    rpk.resource: "spring-cloud-gateway-role"
rules:
  - apiGroups:
      - "" # "" indicates the core API group
    resources:
      - configmaps
      - services
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
  - apiGroups:
      - "" # "" indicates the core API group
    resources:
      - pods
    verbs:
      - list
  - apiGroups:
      - "" # "" indicates the core API group
    resources:
      - secrets
    verbs:
      - get
      - list
  - apiGroups:
      - "" # "" indicates the core API group
    resources:
      - events
    verbs:
      - create

  - apiGroups:
      - apps
    resources:
      - deployments
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
  - apiGroups:
      - networking.k8s.io
    resources:
      - ingresses
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: spring-cloud-gateway-cluster-role-for-scg-reconciler
  labels:
    rpk.heritage: "true"
    rpk.module : "{{ tanzu_spring_cloud_gateway.module }}"
    rpk.resource: "spring-cloud-gateway-role-binding"
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: spring-cloud-gateway-cluster-role
subjects:
  - kind: ServiceAccount
    name: default
    namespace: {{ tanzu_spring_cloud_gateway.namespace }}

---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: spring-cloud-gateway-role-for-scg-reconciler
  namespace: {{ tanzu_spring_cloud_gateway.namespace }}
  labels:
    rpk.heritage: "true"
    rpk.module : "{{ tanzu_spring_cloud_gateway.module }}"
    rpk.resource: "spring-cloud-gateway-role-binding"
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: spring-cloud-gateway-role
subjects:
  - kind: ServiceAccount
    name: default
    namespace: {{ tanzu_spring_cloud_gateway.namespace }}