# Copyright 2006-2021 VMware, Inc.
# SPDX-License-Identifier: MIT
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: scg-operator-resources-role
  labels:
    app.kubernetes.io/name: spring-cloud-gateway
    app.kubernetes.io/instance: spring-cloud-gateway
    app.kubernetes.io/version: "v1.0.0"
    app.kubernetes.io/part-of: spring-cloud-gateway
rules:
- apiGroups:
  - tanzu.vmware.com
  resources:
  - springcloudgateways
  - springcloudgatewaymappings
  - springcloudgatewayrouteconfigs
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
- apiGroups:
    - "tanzu.vmware.com"
  resources:
    - springcloudgateways/status
    - springcloudgatewaymappingss/status
    - springcloudgatewayrouteconfigs/status
  verbs:
    - patch
- apiGroups:
    - "" # "" indicates the core API group
  resources:
    - pods/status
  verbs:
    - patch
- apiGroups:
  - "" # "" indicates the core API group
  resources:
  - pods
  verbs:
  - list
  - watch
- apiGroups:
  - "" # "" indicates the core API group
  resources:
  - services
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch

- apiGroups:
  - "" # "" indicates the core API group
  resources:
  - secrets
  verbs:
  - get
  - list
  - watch
  - create

- apiGroups:
  - "events.k8s.io"
  resources:
  - events
  verbs:
  - create

- apiGroups:
  - apps
  resources:
  - statefulsets
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch

- apiGroups:
  - networking.k8s.io
  resources:
  - ingresses
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch

---
aapiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: scg-operator-resources-role-binding
  labels:
    app.kubernetes.io/name: spring-cloud-gateway
    app.kubernetes.io/instance: spring-cloud-gateway
    app.kubernetes.io/version: "v1.0.0"
    app.kubernetes.io/part-of: spring-cloud-gateway
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: scg-operator-resources-role
subjects:
- kind: ServiceAccount
  name: spring-cloud-gateway
  namespace: {{ tanzu_spring_cloud_gateway.namespace }}
