# Copyright 2006-2021 VMware, Inc.
# SPDX-License-Identifier: MIT
---
apiVersion: v1
kind: Secret
metadata:
  name: wildcard-tls
  namespace: "{{ tanzu_security.namespace }}"
type: kubernetes.io/tls
data:
{% if tanzu_security.wildcard.tls_root_ca_cert != "" %}
  ca.crt: "{{ tanzu_security.wildcard.tls_root_ca_cert }}"
{% endif %}
  tls.crt: "{{ tanzu_security.wildcard.tls_cert }}"
  tls.key: "{{ tanzu_security.wildcard.tls_key  }}"
