# Copyright 2006-2021 VMware, Inc.
# SPDX-License-Identifier: MIT
---
apiVersion: v1
kind: Secret
metadata:
  name: ca-keypair
  namespace: "{{ tanzu_security.namespace }}"
data:
  tls.crt: "{{ tanzu_security.ca.tls_root_ca_cert }}"
  tls.key: "{{ tanzu_security.ca.tls_root_ca_key }}"
