# Copyright 2006-2021 VMware, Inc.
# SPDX-License-Identifier: MIT
---
apiVersion: cert-manager.io/v1alpha2
kind: Certificate
metadata:
  name: root-ca
  namespace: "{{ tanzu_security.namespace }}"
spec:
  secretName: ca-keypair
  commonName: ca
  isCA: true
  issuerRef:
    name: self
    kind: ClusterIssuer
