# Copyright 2006-2021 VMware, Inc.
# SPDX-License-Identifier: MIT
---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ tanzu_app_stack.resource_name }}
  labels:
    app.kubernetes.io/name: "{{ tanzu_app_stack.resource_name }}"
rules:
  - apiGroups:
      - ""
    resources:
      - configmaps
      - pods
      - services
      - endpoints
      - secrets
    verbs:
      - get
      - list
      - watch
      - use
