# Copyright 2006-2021 VMware, Inc.
# SPDX-License-Identifier: MIT
---
tanzu_security:
  namespace:   "tanzu-security"
  staging_dir: "{{ rpk_staging_dir }}/tanzu-security"
  component:   "security"

  # resources
  default_resources:
    requests:
      cpu:    "25m"
      memory: "32Mi"
    limits:
      cpu:    "50m"
      memory: "64Mi"
  default_quota:
    requests:
      cpu:    "2000m"
      memory: "4096Mi"
    limits:
      cpu:    "2000m"
      memory: "4096Mi"
  default_maximums:
    cpu:    "500m"
    memory: "64Mi"

  # valid providers - ca, letsencrypt-stage, letsencrypt-prod, wildcard
  # ca must be in this list for admission controllers to work
  # tls_providers: [ "ca", "wildcard", "letsencrypt-stage", "letsencrypt-prod"]
  tls_providers: ["ca"]
  # which provider to use by default
  default_tls_provider: "{{ tanzu_default_tls_provider }}"

  # if using "tls_provider: ca" you can provide your own CA cert / key
  # these should be base64 encoded. If left empty we will generate them for you.
  ca:
    tls_root_ca_cert: ""
    tls_root_ca_key: ""

  wildcard:
    # if you want to provide a wildcard cert for your ingress domain, you can put it here.
    # example created with
    # docker run -v /tmp/certs:/certs -e SSL_SUBJECT=rpk-wildcard -e SSL_DNS='*.127.0.0.1.nip.io' paulczar/omgwtfssl
    # cat /tmp/certs/ca.pem | base64
    tls_root_ca_cert: "LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURORENDQWh5Z0F3SUJBZ0lVT0R1MkNlK1ZCT3FSeTVYRFB1MkpBSjhvWkhnd0RRWUpLb1pJaHZjTkFRRUwKQlFBd0VqRVFNQTRHQTFVRUF3d0hkR1Z6ZEMxallUQWVGdzB5TURFd01qY3hOelUwTkRaYUZ3MHlNREV5TWpZeApOelUwTkRaYU1CSXhFREFPQmdOVkJBTU1CM1JsYzNRdFkyRXdnZ0VpTUEwR0NTcUdTSWIzRFFFQkFRVUFBNElCCkR3QXdnZ0VLQW9JQkFRRDN5TmpuL3ZFdXUvNG9saEczOERjcklKakNodUhsaC9SMUJFaWpMakRrbWlieXdQSDcKczVrZU9LT1B4elExeXNHUXhCQ3h5V08yQlVMOElicmJVNFFlb0tFejdWQlI2dHRmZUlQQnhvNmhmZzFMNEY2WgpuWlRFdzR4eUtKNUpsbVlnbVFVc2pWU2VUZ2Z4d05EaFlkVkFzaUdtQXFBdThzaStaS0tlaFNHRHpUK3VMNmZ5CkNkWEMrM2UrN1UrZnNyb1gvMWVzdnlkSlJqUkJGZ25Id1FvMitGWWUvUCsyYkJyQ1AyZmtyUUNSMXg2emd3Y0sKMzJSalFmMVp2dm0xNWIvMlp0UGtPMjNFNjcrK3hYUzlIWlM5RmljemtSano3Nno1alNaKzU1byt6Yzg0SmdndQpIbzloMDU3TUhOSW5HOFpra2tQb2FIalZkQmdOQno5KzFCNGxBZ01CQUFHamdZRXdmekFQQmdOVkhSTUJBZjhFCkJUQURBUUgvTUIwR0ExVWREZ1FXQkJSaHE5V0g1SkJDMVcxZi9LSWtVU0J1T0ROcHFqQk5CZ05WSFNNRVJqQkUKZ0JSaHE5V0g1SkJDMVcxZi9LSWtVU0J1T0ROcHFxRVdwQlF3RWpFUU1BNEdBMVVFQXd3SGRHVnpkQzFqWVlJVQpPRHUyQ2UrVkJPcVJ5NVhEUHUySkFKOG9aSGd3RFFZSktvWklodmNOQVFFTEJRQURnZ0VCQU9UMXR0aTY3V21xCkMrd0lQTkxXMzVsSkwzbHR5RW1nQ0xZaHI0QUZROFdLN1ZVbnRWOENQbFkrQ3d3ZCsvS0VXNHJRNXB6bmphSkIKUFF4WXFONW9tdXBiNUtDb2NjYUZKTkJRK2xrNzVLNHJtWHBZZFpWd3BndjhCMHR5cjlxaFZhMEdYUll1M0tzQgpKRGU5RUZhWUI2eUxRclE4Nkxhajh4am9jWU1VU09kaW00cXl4VnptZ2gzckRqNVlIaTVQL2UyejhZck5rU29SCmRzNEdFN3YweTdIQkZMK0JmdWlkWnBSQ3k4NXhNNWJteE9naTlURVJjdXhDcjExbTBYTmRVUWM5YmtNVmFuMzkKU1hKckxsa2NFVFREZUJ4QnRiclE4L1dsSUlsS0QzUG00bjl1U0EzZWdvUmJoZjZMU1FkOGFxQVRxWVhxVHdqTgoxZHN1ZWpmdzV3OD0KLS0tLS1FTkQgQ0VSVElGSUNBVEUtLS0tLQo="
    # cat /tmp/certs/cert.pem | base64
    tls_cert: "LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURJekNDQWd1Z0F3SUJBZ0lVVW5ZMTN6emkyNVhVM01MZms2Vk84MWdvMHZjd0RRWUpLb1pJaHZjTkFRRUwKQlFBd0VqRVFNQTRHQTFVRUF3d0hkR1Z6ZEMxallUQWVGdzB5TURFd01qZ3hOVFEyTXpGYUZ3MHlNREV5TWpjeApOVFEyTXpGYU1CY3hGVEFUQmdOVkJBTU1ER2wyZVMxM2FXeGtZMkZ5WkRDQ0FTSXdEUVlKS29aSWh2Y05BUUVCCkJRQURnZ0VQQURDQ0FRb0NnZ0VCQVBCdUlvaDQrVHN1cnMrZ0JuKzMyM0pTUjJ2R1NsKzJWdUoybElTb0V3bWcKVEEwQkZuTEVMc05rNDlHdGQyVStrNUd6MjR1U2JSTUE1a1RweWN0THE4S1Z4WWhYQmRyVkxuSkl2QUJPRkF0RQozaFBGN2pxSGYxczVFZWxBVCs1TXlmdTl1WGtWL2tCNVJTTE1LY2owU0xWZmVGekRZeENuY0pCNEd1bGpnYWExClZrbWU3UHFneHZUUkdGeU5FK214SHI5NjZYN056Ync1aU1NNDNBbjByRGwzQ2Iwb0d6RERzTXlrQ2Zsd2djVjIKbW40RTRwTldZbmxtYmt6ZGtMOHF1bjU3dVUvcE13S1FDdkZ2R014RUtyazdMRmdpVTN6aE5OWGNubVJvbGVOVwphYVNZbjZ0WEZzYk5LSlhFOHVuYndrdlpSV2pTcmo0eXBKamQzTnNaaGxFQ0F3RUFBYU5zTUdvd0NRWURWUjBUCkJBSXdBREFMQmdOVkhROEVCQU1DQmVBd0hRWURWUjBsQkJZd0ZBWUlLd1lCQlFVSEF3SUdDQ3NHQVFVRkJ3TUIKTURFR0ExVWRFUVFxTUNpQ0Vpb3VNVEkzTGpBdU1DNHhMbmhwY0M1cGI0SU1hWFo1TFhkcGJHUmpZWEpraHdSLwpBQUFCTUEwR0NTcUdTSWIzRFFFQkN3VUFBNElCQVFDcW1SL2hheExjcXFyWG12RElhNnZOOVpqaDViK0NWQll3CjhPZ0hlVmc0eCtIUHFLM1BJV1VOcnU4ZWZ1U1FseGVOQkI4a1VWZEZIUHNFc3BqOEZ1R1BSaEZwVkdUdktyc04KdGdNVS9kVG5XY2ZweUJnUm1uOHZaais1Z05iRWdwa0t1M2lxcnB4RkFSZDlTYy95eVd1eC9hWmRnMmI1YTBmMQpiQ0tHS1E5V3Qzb01sSDlpVm41Q21IZWh5ZnhzK1EvRVNGYUVEOTN6M0NGOXRYa09xQkdEWUV0K3JVOFc5VkVjCnFrNUJEVHlrUW1GbmJOUUFEYWc4aVh0a1RsZi9sVEdpS1R4N2J4Umx1Mkk1MWRhL3NKa2tzNnZrb1VCOG9SWjAKOGY5WW5oeUNSai9OLzlZTTZRMEhObVQ1NU92WGVXTDJaVEhHS3gyL1NlZk04bkE5THpxTQotLS0tLUVORCBDRVJUSUZJQ0FURS0tLS0tCg=="
    # cat /tmp/certs/key.pem | base64
    tls_key: "LS0tLS1CRUdJTiBSU0EgUFJJVkFURSBLRVktLS0tLQpNSUlFcEFJQkFBS0NBUUVBOEc0aWlIajVPeTZ1ejZBR2Y3ZmJjbEpIYThaS1g3Wlc0bmFVaEtnVENhQk1EUUVXCmNzUXV3MlRqMGExM1pUNlRrYlBiaTVKdEV3RG1ST25KeTB1cndwWEZpRmNGMnRVdWNraThBRTRVQzBUZUU4WHUKT29kL1d6a1I2VUJQN2t6Sis3MjVlUlgrUUhsRklzd3B5UFJJdFY5NFhNTmpFS2R3a0hnYTZXT0JwclZXU1o3cworcURHOU5FWVhJMFQ2YkVldjNycGZzM052RG1Jd3pqY0NmU3NPWGNKdlNnYk1NT3d6S1FKK1hDQnhYYWFmZ1RpCmsxWmllV1p1VE4yUXZ5cTZmbnU1VCtrekFwQUs4VzhZekVRcXVUc3NXQ0pUZk9FMDFkeWVaR2lWNDFacHBKaWYKcTFjV3hzMG9sY1R5NmR2Q1M5bEZhTkt1UGpLa21OM2MyeG1HVVFJREFRQUJBb0lCQVFDNlNQc2t0bWFVL2xTZgp0aU9TN1lkd0NtUWdFeUVwQzRSQ0x4SmZ2a0lSNFV0TGdCNCtpZGFadWgveUkrOHdXTTNKeEl0RWx3MC8vaUJzCklLQWpqZHZsQmxwb2l0U1VlenhqZkF0K1NRQ3F3bzgyenRNSU1sZncvRVR1YnMvL21TdWVpNStiTy9rbFIxRFQKNTFBd3pXVlFja28xeFlXS0w5RzlmZkdNQjNjN0RDRE8vRi85Wmh0NWx4cGJLNHFXb3kvQmpBOG1rT1gvS3A4Ygo1ejNsaFJnaE15MUtQZ0tkdThJRkNtUlludjdYMXVseFJFaUVoa3p3UU5QOVB5Z2xIUE4zSjIySGIySkQ2dE5lCkRhVHhjYVQ1ejM2ZmpRSjJrVy9PZk1FQTNJM0ZuNnJUMXhGUVVXNHpJbzFZRDBnN1RDRG5ma2tscGZqZWI0Y0YKMUhOeFM4UkpBb0dCQVAvZTdwYysvUVNBcTRvNHYydGM0YWJLZjZYS3JITHFPZU9lTUZsc0x3K2gvZG0rTFFacgpiWkVNWVMwRnZaRllxUlhTTlJvRS9Ka29PekZ6cU1aUEd1UVMxQm5URndYRE4zcE5VSEFvWkpKbEI0Q3RialN6CjF3b1JIWHg3Q2dabWplV2xuSFltZUliZmc5cGV3MUtPaitWeXJwMVdmamhEa3NSV0JzajRzK243QW9HQkFQQ04KTlJnZ1Z0VEd0dCtNcXczc3VObW1BdlJROFVrbmhUbUdaMjhBTlZMK1hXcUlDSzNOcnUveFozZkYzK1J4SzRiVAorVnR1dndOdTdPSHR2L05uYjI2KzJKS3lwbTE2K05IR0JpNlpTeFF1dGVHeWFMQS9FQi9SbEY5aFVmdlJ4czh0Cm5CMWh6b0hZUWp3ZmFLSktKenJRajByMFZrMnZVbVp3czJXd25Fc2pBb0dBU3RJSnVyaDBqRWlENE50UFBqbmUKMGtNTXFKSm5jd01EQW9oVFl4SzdnRHJDWEZXOEhOQjFMYUVOR1hsQVFheEhaVlllcVFra1JEVDdlaTV6LytsSgoxNytadmlOMzYvdDEwWkdpSCtudjNzOGtMb0NJWldqaFROUk1ad1lqbkZPSTBzcG13alhsc0tyVGg1dUdTakhkCjZoNXE2UjlOc1c0eEVMQ0hNMlZtVnRrQ2dZRUFyUHhPOXplaVdjZEJFVWZlWnRnYUltSnc4M01WNFE2cmpxK3AKeURnMUlLYk5WT1BZb2V3czVsNEtreVpZR0xhTm41cm1VaXMwNytvZ0xXVEV5ZXhUUlNlM0pOK1dNVnJpZmpCUwpsOFlqS0xOaWxwaXZFamQzaC9vMklkVWhtTjdGZ28yQkc5d1BIbTcvU3E4bmxyV091b3Zxei9NZjhTT29OUVRNCjdjN3d4bE1DZ1lBTDlwVXFmSFhMemRtTnM2K2p3N0tLVXpRZlREb1RSWGFsdmhWb041VlErSjJxSlRadVYyanAKTzIzMVB6MjdVaTJBYS9WZEgxaldiQlRsUWU0NHRLdEhGclJCaHdKeEIxZjN2VEc2R1ROWU1rYitSNmNUTVdZSgpabFJsaXgrblhYOU55c1U0dUw3UW5Ya3MzTm53NjIzdG1zbTZnenFiNHhnL0JMWk8vZVoybVE9PQotLS0tLUVORCBSU0EgUFJJVkFURSBLRVktLS0tLQo="

  # letsencrypt staging CA. This likely shouldn't change.
  # curl -s https://letsencrypt.org/certs/fakelerootx1.pem  | base64 -w 0
  letsencrypt_stage:
    tls_root_ca_cert: "LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUZBVENDQXVtZ0F3SUJBZ0lSQUtjOVpLQkFTeW15NVRMT0VwNTdOOTh3RFFZSktvWklodmNOQVFFTEJRQXcKR2pFWU1CWUdBMVVFQXd3UFJtRnJaU0JNUlNCU2IyOTBJRmd4TUI0WERURTJNRE15TXpJeU5UTTBObG9YRFRNMgpNRE15TXpJeU5UTTBObG93R2pFWU1CWUdBMVVFQXd3UFJtRnJaU0JNUlNCU2IyOTBJRmd4TUlJQ0lqQU5CZ2txCmhraUc5dzBCQVFFRkFBT0NBZzhBTUlJQ0NnS0NBZ0VBK3BZSHZRdzVpVTN2MmIzaU51WU5LWWdzV0Q2S1U3YUoKZGlkZHRaUXhTV1l6VUkzVTBJMVVzUlBUeG5oVGlmcy9NOU5XNFpsVjEzWmZCN0FQd0M4b3FLT0lpd283SXdsUAp4ZzBWS2d5eitrVDhSSmZZcjY2UFBJWVAwZnBUZXU0MkxwTUorQ0tvOXNicGdWTkRaTjJ6L3FpWHJSTlgvVnRHClRrUFY3YTQ0Zlo1YkhIVnJ1QXh2RG55bHBReEpvYnRDQldsSlNzYklSR0ZITWMyejg4ZVV6OU5tSU9XVUtHR2oKRW1QNzZ4OE9mUkhwSXB1eFJTQ2puMCtpOStoUjJzaUlPcGNNT0dkKzQwdVZKeGJSUlA1WlhuVUZhMmZGNUZXZApPMHUwUlBJOEhPTjBvdmhyd1BKWSs0ZVdLa1F6eUM2MTFvTFBZR1E0RWJpZlJzVHNDeFVacXlVdVN0R3lwOG9hCmFvU0tmRjZYMCtLekdnd3ducmpSVFVwSWwxOUE5MktSME5vbzZoNjIyT1grNHNaaU8vSlFka3VYNXcvSHVwSzAKQTBNMFdTTUN2VTZHT2hqR290bWgyVlRFSndISFk0K1RVazBpUVlSdHYxY3JPTmtseVpvQVFQRDc2aENyQzhDcgpJYmdzWkxmVE1DOFRXVW9NYnlVRGd2Z1lrSEtNb1BtMFZHVlZ1d3BSS0p4djcrMndYTytwaXZyclVsMlE5ZlBlCktrMDU1bkpMTVY5eVBVZGlnOG90aFVLclJmU3hsaTk0NkFFVjFlRU9oeGRkZkV3QkUzTHQyeG4waGhpSWVkYmIKRnRmLzVrRVdGWmtYeVVtTUpLOFJhNzZLdXMyQUJ1ZVVWRWNaNDhoclJyMUhmMU45bjU5VmJUVWFYZ2VpWkE1MApxWGYyYnltRTZGOENBd0VBQWFOQ01FQXdEZ1lEVlIwUEFRSC9CQVFEQWdFR01BOEdBMVVkRXdFQi93UUZNQU1CCkFmOHdIUVlEVlIwT0JCWUVGTUVtZEtTS1JLRG0raUFvMkZ3am1rV0lHSG5nTUEwR0NTcUdTSWIzRFFFQkN3VUEKQTRJQ0FRQkNQdzc0TTlYL1h4MDRLMVZBRVMzeXBnUVlINWJmOUZYVkRyd2hSRlNWY2tyaWEvN2RNem9GNXdsbgp1cTlOR3Nqa2trRGcxN0FvaGNRZHI4YWxINEx2UGR4cEtyM0JqcHZFY21icUY4eEgrTWJiZVVFbm1iU2ZMSThICnNlZnVoWEY5QUYvOWlZdnBWTkM4Rm1KME9oaVZ2MTNWZ01RdzBDUktrYnRqWkJmOHhhRWhxL1lxeFdWc2dPam0KZG01Q0FRMlgwYVg3NTAyeDh3WVJnTW5aaEE1Z29DMXpWV0JWQWk4eWhobWxoaG9EVWZnMTdjWGttYUpDNXBEZApvZW5aOU5WaFc4ZURiMDNNRkNyV052SWg4OUREZUNHV3VXZkRsdERxMG4zb3d5TDBJZVNuN1JmcFNjbHB4Vm1WCi81M2prWWp3SWd4SUc3R3N2MExLTWJzZjZRZEJjVGpodmZaeU1JcEJSa1RlM3p1SGQyZmVLelk5bEVrYlJ2UlEKemJoNFBzNVlCbkc2Q0tKUFRiZTJoZmkzbmhudy9NeUVtRjN6YjBoenZMV05yUjlYVzNpYmIyb0wzNDI0WE93YwpWanJUU0NMek85UnY2czV3aTAzcW9XdktBUVFBRWxxVFlSSGh5bkozdzZ3dXZLWUY1emNaRjNNRG5yVkdMYmgxClE5ZVBSRkJDaVhPUTZ3UExvVWhycmJaOExwRlVGWURYSE10WU03UDlzYzlJQVdvT05YUkVKYU8wOHpnRnRNcDQKOGl5SVlVeVFBYnN2eDhvRDJNOGtSdnJJUlNyUkpTbDZMOTU3YjRBRmlMSVEvR2dWMmN1cnMwamplN0VkeDM0YwppZFd3MVZyZWp0d2Nsb2JxTk1WdEczRWlQVUlwSkdwYk1jSmdiaUxTbUtrcnZRdEduZz09Ci0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0K"

  actions:
    # `update_k8s_ca` should be set to false in production as it relies on a
    # changing the underlying hosts with some host_vars tricks. For production you
    # should either use letsencrypt-prod or a self provided CA cert/key pair of
    # which you have already uploaded the ca-cert to your kube cluster and trust it.
    update_k8s_ca: true

  cert_manager:
    resource_name: "cert-manager"
    image:         "registry.tkg.vmware.run/cert-manager/cert-manager-controller"
    image_tag:     "v0.16.1_vmware.1"
    resources:
      requests:
        cpu:    "250m"
        memory: "32Mi"
      limits:
        cpu:    "500m"
        memory: "64Mi"

  cert_manager_webhook:
    resource_name: "cert-manager-webhook"
    image:         "registry.tkg.vmware.run/cert-manager/cert-manager-webhook"
    image_tag:     "v0.16.1_vmware.1"

  cert_manager_cainjector:
    resource_name: "cert-manager-cainjector"
    image:         "registry.tkg.vmware.run/cert-manager/cert-manager-cainjector"
    image_tag:     "v0.16.1_vmware.1"

  cert_delivery_job:
    resource_name: "tanzu-ca-jobs"
    default:
      image:     "projects.registry.vmware.com/rpk/centos"
      image_tag: "8"
