# Copyright 2006-2021 VMware, Inc.
# SPDX-License-Identifier: MIT
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: "{{ tanzu_dashboard.service_account }}"
  namespace: "{{ tanzu_dashboard.namespace }}"
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  annotations:
    rbac.authorization.kubernetes.io/autoupdate: "true"
  name: "{{ tanzu_dashboard.clusterrole }}"
rules:
  - apiGroups:
      - "*"
    resources:
      - "*"
    verbs:
      - get
      - list
      - watch
---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: "{{ tanzu_dashboard.clusterrolebinding }}"
subjects:
  - kind: ServiceAccount
    name: "{{ tanzu_dashboard.service_account }}"
    namespace: "{{ tanzu_dashboard.namespace }}"
roleRef:
  kind: ClusterRole
  name: "{{ tanzu_dashboard.clusterrole }}"
  apiGroup: rbac.authorization.k8s.io
