# Copyright 2006-2021 VMware, Inc.
# SPDX-License-Identifier: MIT
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: job-kube-apiserver
  namespace: "{{ tanzu_secrets.namespace }}"
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: job-kube-apiserver-psp
rules:
- apiGroups: ['policy']
  resources: ['podsecuritypolicies']
  verbs:     ['use']
  resourceNames:
  - job-kube-apiserver-psp
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: job-kube-apiserver-psp
roleRef:
  kind: ClusterRole
  name: job-kube-apiserver-psp
  apiGroup: rbac.authorization.k8s.io
subjects:
- kind: ServiceAccount
  name: job-kube-apiserver
  namespace: "{{ tanzu_secrets.namespace }}"
---
apiVersion: policy/v1beta1
kind: PodSecurityPolicy
metadata:
  name: job-kube-apiserver-psp
spec:
  seLinux:
    rule: RunAsAny
  supplementalGroups:
    rule: RunAsAny
  runAsUser:
    rule: RunAsAny
  fsGroup:
    rule: RunAsAny
  volumes:
  - '*'
  allowedHostPaths:
  - pathPrefix: "/etc/kubernetes/manifests"
    readOnly: false
  - pathPrefix: "/etc/kubernetes/backup"
    readOnly: false
