# Copyright 2006-2021 VMware, Inc.
# SPDX-License-Identifier: MIT
---
# see https://github.com/vmware-tanzu-labs/namespace-operator
apiVersion: tenancy.platform.cnr.vmware.com/v1alpha1
kind: TanzuNamespace
metadata:
  name: {{ tanzu_logging.namespace }}
spec:
  tanzuNamespaceName: "{{ tanzu_logging.namespace }}"
  tanzuLimitRangeDefaultCpuLimit: "50m"
  tanzuLimitRangeDefaultMemoryLimit: "64Mi"
  tanzuLimitRangeDefaultCpuRequest: "50m"
  tanzuLimitRangeDefaultMemoryRequest: "64Mi"
  tanzuLimitRangeMaxCpuLimit: "2000m"
  tanzuLimitRangeMaxMemoryLimit: "4096Mi"
  tanzuResourceQuotaCpuRequests: "6"
  tanzuResourceQuotaMemoryRequests: "8Gi"
  tanzuResourceQuotaCpuLimits: "6"
  tanzuResourceQuotaMemoryLimits: "8Gi"
