# Copyright 2006-2021 VMware, Inc.
# SPDX-License-Identifier: MIT
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: demo-aws-pvc
  namespace: "{{ tanzu_storage.namespace }}"
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
kind: Pod
apiVersion: v1
metadata:
  name: demo-storage-app-aws
  namespace: "{{ tanzu_storage.namespace }}"
  labels:
    app.kubernetes.io/name: demo-storage-app-aws
spec:
  containers:
    - name: my-demo
      image: busybox
      volumeMounts:
        - mountPath: "/data"
          name: my-csi-volume-inline
      command: ["sleep", "3600"]
  volumes:
    - name: my-csi-volume-inline
      persistentVolumeClaim:
        claimName: demo-aws-pvc
