# Copyright 2006-2021 VMware, Inc.
# SPDX-License-Identifier: MIT
---
kind: Secret
apiVersion: v1
metadata:
  name: avi-controller-license
  namespace: {{ avi.namespace }}
  labels:
    app.kubernetes.io/name: avi
data:
  {{ avi.controller.license_file }}: |
    {{ avi.controller.license_data | b64encode }}
