# Copyright 2006-2021 VMware, Inc.
# SPDX-License-Identifier: MIT
---
apiVersion: v1
kind: Secret
metadata:
  name: postgresql
  namespace: {{ tanzu_spring_cloud_data_flow.namespace }}
  labels:
    app.kubernetes.io/name: "spring-cloud-data-flow-postgresql"
    rpk.heritage: "true"
    rpk.module: "{{ tanzu_spring_cloud_data_flow.module }}"
    rpk.resource: "spring-cloud-data-flow-postgresql-secret"
type: Opaque
stringData:
  postgresql-password: "CHANGEME"
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: postgresql
  namespace:  {{ tanzu_spring_cloud_data_flow.namespace }}
  labels:
    app.kubernetes.io/name: "spring-cloud-data-flow-postgresql"
    rpk.heritage: "true"
    rpk.module: "{{ tanzu_spring_cloud_data_flow.module }}"
    rpk.resource: "spring-cloud-data-flow-postgresql-stafulset"
  annotations:
spec:
  serviceName: postgresql-headless
  replicas: 1
  updateStrategy:
    type: RollingUpdate
  selector:
    matchLabels:
      app.kubernetes.io/name: "spring-cloud-data-flow-postgresql"
      role: master
  template:
    metadata:
      name: postgresql
      namespace: {{ tanzu_spring_cloud_data_flow.namespace }}
      labels:
        app.kubernetes.io/name: "spring-cloud-data-flow-postgresql"
        role: master
    spec:
      securityContext:
        fsGroup: 1001
      containers:
        - name: postgresql
          image: docker.io/bitnami/postgresql:11.7.0-debian-10-r99
          imagePullPolicy: "IfNotPresent"
          resources:
            requests:
              cpu: 250m
              memory: 256Mi
          securityContext:
            runAsUser: 1001
          env:
            - name: BITNAMI_DEBUG
              value: "false"
            - name: POSTGRESQL_PORT_NUMBER
              value: "5432"
            - name: POSTGRESQL_VOLUME_DIR
              value: "/bitnami/postgresql"
            - name: PGDATA
              value: "/bitnami/postgresql/data"
            - name: POSTGRES_USER
              value: "postgres"
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgresql
                  key: postgresql-password
            - name: POSTGRESQL_DATABASE
              value: dataflow
            - name: POSTGRESQL_ENABLE_LDAP
              value: "no"
          ports:
            - name: tcp-postgresql
              containerPort: 5432
          livenessProbe:
            exec:
              command:
                - /bin/sh
                - -c
                - exec pg_isready -U "postgres" -h 127.0.0.1 -p 5432
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
            successThreshold: 1
            failureThreshold: 6
          readinessProbe:
            exec:
              command:
                - /bin/sh
                - -c
                - -e
                - |
                  exec pg_isready -U "postgres" -h 127.0.0.1 -p 5432
                  [ -f /opt/bitnami/postgresql/tmp/.initialized ] || [ -f /bitnami/postgresql/.initialized ]
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 5
            successThreshold: 1
            failureThreshold: 6
          volumeMounts:
            - name: dshm
              mountPath: /dev/shm
            - name: data
              mountPath: /bitnami/postgresql
              subPath:
      volumes:
        - name: dshm
          emptyDir:
            medium: Memory
            sizeLimit: 1Gi
  volumeClaimTemplates:
    - metadata:
        name: data
      spec:
        accessModes:
          - "ReadWriteOnce"
        resources:
          requests:
            storage: "8Gi"
---
apiVersion: v1
kind: Service
metadata:
  name: postgresql
  namespace:  {{ tanzu_spring_cloud_data_flow.namespace }}
  labels:
    app.kubernetes.io/name: "spring-cloud-data-flow-postgresql"
    rpk.heritage: "true"
    rpk.module : "{{ tanzu_spring_cloud_data_flow.module }}"
    rpk.resource: "spring-cloud-data-flow-postgresql-service"
  annotations:
spec:
  type: ClusterIP
  ports:
    - name: tcp-postgresql
      port: 5432
      targetPort: tcp-postgresql
  selector:
    app.kubernetes.io/name: "spring-cloud-data-flow-postgresql"
    role: master
---
apiVersion: v1
kind: Service
metadata:
  name: postgresql-headless
  namespace:  {{ tanzu_spring_cloud_data_flow.namespace }}
  labels:
    app: postgresql
    rpk.heritage: "true"
    rpk.module : "{{ tanzu_spring_cloud_data_flow.module }}"
    rpk.resource: "spring-cloud-data-flow-postgresql-service"
spec:
  type: ClusterIP
  clusterIP: None
  ports:
    - name: tcp-postgresql
      port: 5432
      targetPort: tcp-postgresql
  selector:
    app: postgresql
