# Copyright 2006-2021 VMware, Inc.
# SPDX-License-Identifier: MIT
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ tanzu_secrets.hashicorp_vault_injector.resource_name }}
  namespace: {{ tanzu_secrets.namespace }}
  labels:
    app.kubernetes.io/name: {{ tanzu_secrets.hashicorp_vault_injector.resource_name }}
    app.kubernetes.io/instance: hashicorp
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ tanzu_secrets.hashicorp_vault_injector.resource_name }}
  labels:
    app.kubernetes.io/name: {{ tanzu_secrets.hashicorp_vault_injector.resource_name }}
    app.kubernetes.io/instance: hashicorp
rules:
  - apiGroups:
      - "admissionregistration.k8s.io"
    resources:
      - "mutatingwebhookconfigurations"
    verbs:
      - "get"
      - "list"
      - "watch"
      - "patch"
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ tanzu_secrets.hashicorp_vault_injector.resource_name }}
  labels:
    app.kubernetes.io/name: {{ tanzu_secrets.hashicorp_vault_injector.resource_name }}
    app.kubernetes.io/instance: hashicorp
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ tanzu_secrets.hashicorp_vault_injector.resource_name }}
subjects:
  - kind: ServiceAccount
    name: {{ tanzu_secrets.hashicorp_vault_injector.resource_name }}
    namespace: {{ tanzu_secrets.namespace }}
