# Copyright 2006-2021 VMware, Inc.
# SPDX-License-Identifier: MIT
---
#
# NAMESPACES
#
- name: "ensure manifest staging directory exists"
  import_role:
    name: "common/staging-directory"
  vars:
    staging_dir: "{{ tanzu_security.staging_dir }}"

- name: "create namespace"
  import_role:
    name: "common/namespace"
  vars:
    namespace:               "{{ tanzu_security.namespace }}"
    namespace_template_file: "tanzu-namespace.yaml.j2"
    namespace_file:          "{{ tanzu_security.staging_dir }}/tanzu-namespace.yaml"

#
# CERT-MANAGER
#
- name: "ensure cert-manager custom resource definitions exist"
  import_role:
    name: "common/manifest-file"
  vars:
    manifest_description: "cert-manager custom resource definitions"
    manifest_template:    "crds-cert-manager.yaml.j2"
    manifest_staging_dir: "{{ tanzu_security.staging_dir }}"

- name: "ensure cert-manager rbac exists"
  import_role:
    name: "common/manifest-file"
  vars:
    manifest_description: "cert-manager rbac"
    manifest_template:    "rbac-cert-manager.yaml.j2"
    manifest_staging_dir: "{{ tanzu_security.staging_dir }}"

- name: "ensure cert-manager exists"
  import_role:
    name: "common/manifest-file-with-wait"
  vars:
    manifest_description: "cert-manager"
    manifest_template:    "app-cert-manager.yaml.j2"
    manifest_staging_dir: "{{ tanzu_security.staging_dir }}"

- name: "ensure {{ item }} cluster issuers exist"
  include_role:
    name: "common/manifest-file"
  vars:
    manifest_description: "{{ item }} cert-manager cluster issuers"
    manifest_template:    "cluster-issuers-{{ item }}.yaml.j2"
    manifest_staging_dir: "{{ tanzu_security.staging_dir }}"
  with_items:
    - self
    - "{{ tanzu_security.tls_providers }}"

- name: "ensure ca cert secret exist"
  import_role:
    name: "common/manifest-file"
  vars:
    manifest_description: "root ca cert"
    manifest_template:    "secret-root-ca-certs.yaml.j2"
    manifest_staging_dir: "{{ tanzu_security.staging_dir }}"
  when:
    - ("ca" in tanzu_security.tls_providers) or
      ("letsencrypt-stage" in tanzu_security.tls_providers) or
      ("wildcard" in tanzu_security.tls_providers)

#
# DELIVER CA CERTS
#
- name: "deliver ca certificates to nodes"
  when:
    - tanzu_security.actions.update_k8s_ca | bool
    - ("ca" in tanzu_security.tls_providers) or
      ("letsencrypt-stage" in tanzu_security.tls_providers) or
      ("wildcard" in tanzu_security.tls_providers)
  import_tasks: "deliver-ca.yaml"
