# Copyright 2006-2021 VMware, Inc.
# SPDX-License-Identifier: MIT
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: department
  namespace: {{ tanzu_app_stack.department.namespace }}
  labels:
    app.kubernetes.io/name: "{{ tanzu_app_stack.department.resource_name }}"
spec:
  replicas: {{ tanzu_app_stack.department.replicas }}
  selector:
    matchLabels:
      app.kubernetes.io/name: "{{ tanzu_app_stack.department.resource_name }}"
  template:
    metadata:
      namespace: {{ tanzu_app_stack.department.namespace }}
{% if tanzu_app_stack.vault.enabled %}
      annotations:
        vault.hashicorp.com/agent-inject: "true"
        vault.hashicorp.com/agent-inject-status: "update"
        vault.hashicorp.com/role: "{{ tanzu_app_stack.department.namespace }}"
        vault.hashicorp.com/agent-inject-secret-mongodb.properties: "tanzu/application-stack/mongodb"
        vault.hashicorp.com/agent-inject-template-mongodb.properties: |{% raw %}
          {{- with secret "tanzu/application-stack/mongodb" -}}
            spring.data.mongodb.username: {{ .Data.data.username }}
            spring.data.mongodb.password: {{ .Data.data.password }}
          {{- end -}}
{% endraw %}
{% endif %}
      labels:
        app.kubernetes.io/name: "{{ tanzu_app_stack.department.resource_name }}"
    spec:
      securityContext:
        runAsUser: 1001
      containers:
        - name: department
          image: "{{ tanzu_app_stack.department.remote_image }}:{{ tanzu_app_stack.department.remote_image_tag }}"
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          resources: {{ tanzu_app_stack.department.resources }}
          readinessProbe:
            httpGet:
              port: 8080
              path: /actuator/health
            initialDelaySeconds: 25
            timeoutSeconds: 2
            periodSeconds: 60
            failureThreshold: 5
          livenessProbe:
            httpGet:
              port: 8080
              path: /actuator/info
            initialDelaySeconds: 25
            timeoutSeconds: 2
            periodSeconds: 60
            failureThreshold: 5
{% if not tanzu_app_stack.vault.enabled %}
          volumeMounts:
            - name: mongodb
              mountPath: /etc/secretspot
      volumes:
        - name: mongodb
          secret:
            secretName: department
{% endif %}
      serviceAccountName: {{ tanzu_app_stack.service_account }}
---
apiVersion: v1
kind: Service
metadata:
  name: department
  namespace: {{ tanzu_app_stack.department.namespace }}
  labels:
    app.kubernetes.io/name: "{{ tanzu_app_stack.department.resource_name }}"
spec:
  ports:
    - name: web
      port: 8080
      protocol: TCP
  selector:
    app.kubernetes.io/name: "{{ tanzu_app_stack.department.resource_name }}"
  type: NodePort
