# Copyright 2006-2021 VMware, Inc.
# SPDX-License-Identifier: MIT
---
apiVersion: v1
kind: Secret
metadata:
  name: department
  namespace: {{ tanzu_app_stack.department.namespace }}
  labels:
    app.kubernetes.io/name: "{{ tanzu_app_stack.department.resource_name }}"
type: Opaque
data:
  spring.data.mongodb.username: bW9uZ28tYWRtaW4=
  spring.data.mongodb.password: bW9uZ28tYWRtaW4tcGFzc3dvcmQ=
