# Copyright 2006-2021 VMware, Inc.
# SPDX-License-Identifier: MIT
---
apiVersion: batch/v1
kind: Job
metadata:
  name: traffic-organization
  namespace: {{ tanzu_app_stack.gateway.namespace }}
  labels:
    app.kubernetes.io/name: "{{ tanzu_app_stack.demo.traffic_app_name }}"
spec:
  template:
    metadata:
      labels:
        app.kubernetes.io/name: "{{ tanzu_app_stack.demo.traffic_app_name }}"
    spec:
      containers:
      - name: vegeta
        image: peterevans/vegeta:6.9
        command: ["/bin/sh"]
        args:
        - "-c"
        - "echo 'GET http://gateway/{{ tanzu_app_stack.gateway.app_prefix }}/organization/1/with-employees' | vegeta attack -rate={{ tanzu_app_stack.demo.traffic_rate }} -duration={{ tanzu_app_stack.demo.traffic_duration }} | tee results.bin | vegeta report --type json"
      restartPolicy: OnFailure
